.login-form {

     display: flex;
     flex-direction: column;
     gap: 10px;
     justify-content: space-evenly;
     margin: 25px 10px;

     &>.username,
     .password {

          &>label,
          input {
               width: 100%;
          }
     }

}