.login-form {

     display: flex;
     flex-direction: column;
     gap: 15px;
     justify-content: space-evenly;

     &>.username,
     .password {

          &>label,
          input {
               width: 100%;
          }
     }

}