# This is a template file for .env
# in local setup, use these key's and add appropriate values
# in production setup, these key's will be provided to hosting server

EXPRESS_SESSION_SECRET=secret_1
MONGO_CONNECT_SECRET=secret_2
PORT=3100
FRONT_END_URL=http://localhost:3000

#MONGODB_URL=mongodb://127.0.0.1:27017/instabook
MONGODB_URL=mongo_url

MULTER_STORAGE_PROVIDER=null
S3_BUCKET_NAME=
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=