.search {
     display: flex;
     justify-content: start;
     flex-direction: column;

     &>.dummy {
          height: 200px;
     }

     &>.search-container {
          padding: 40px 20px;
          position: sticky;
          top: -1px;
          background-color: black;

          &>.search-bar {
               border: 2px solid #888;
               border-radius: 25px;
               height: 70px;
               display: flex;
               flex-direction: row;
               justify-content: space-between;
               --search-btn-width:100px;
               overflow: hidden;

               &>input{
                    font-size:30px;
                    width: calc(100% - var(--search-btn-width));
                    margin: 0;
                    padding: 15px 25px;
               }

               &>.search-action{
                    width: var(--search-btn-width);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size:30px;
                    border-left: 2px solid #888;
                    background-color: black;
                    transition: background-color 0.2s;
                    cursor: pointer;

                    &:hover{
                         background-color: #222;
                    }          

                    &:active{
                         background-color: #333;
                    }
               }
          }
     }

     &>.search-results {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: 10px;
          padding: 20px 40px;
          cursor:pointer;
          
     }

}
.profile-card {
     width: 220px;
     height: 250px;
     /* flex-grow: 1; */
     background: black;
     border: 2px solid #666;
     border-radius: 20px;

     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     gap: 15px;
     
     background-color: black;
     transition: background-color 0.2s;
     &:hover{
          background-color: #111;
     }
     &:active{
          background-color: #222;
     }

     &>.profile-image-container{
          width: 150px;
          height: 150px;
          border-radius: 50%;
          overflow: hidden;
          border: 3px solid transparent;
          outline: 3px solid #777;

          &>img{
               width: 100%;
               height: 100%;
               object-fit: cover;
               object-position: center;
          }
     }
     &>.profile-name{
          font-size: 20px;
     }
}
@media only screen and (max-width:750px) {
     .search {
          
          &>.dummy {
               display: none;
          }

          &>.search-container{
               &>.search-bar{
                    --search-btn-width:60px;
                    
                    &>input{
                         font-size: 25px;
                    }

               }
          }
     }
}