.register-form {

     display: flex;
     flex-direction: column;
     gap: 20px;
     justify-content: space-evenly;
     /* height: 330px; */

     &>.username,
     .password {

          &>label,
          input {
               width: 100%;
          }
     }

}